<div class="container">
<h3>People Mart Store Pickup</h3><br>
<h4>If you need to pick up an item quickly or change it to shipping, these pages can help:</h4><br>
<h4>People Mart Store Pickup:</h4><br>
<h4>Store Pickup</h4><br>
<h4>Here's how it works:</h4><br>
During checkout, choose Store Pickup and select your store
We'll show you an estimated pickup date
Place your order and wait to receive a "Ready for pickup" email (this is a separate email from your order confirmation)
Bring your ID, credit card and order number to the store and pick up your items
We'll hold your items at the store for 5 days; if you don't make it in by then, we'll cancel the order and refund your method of payment
If you can’t pick up your order within 5 days and you don’t want it to be canceled, check your order details for extended pickup options  
In locations where Store Pickup is available, you can buy items online and pick them up in a store. You avoid shipping and scheduled delivery charges — and you may be able to get your order faster.
Bring to the store:
Your government-issued photo ID
The credit card used for the purchase (if a credit card was used)
Your order number
At the store:
Some stores have reserved parking spaces for Store Pickup — they're right up front
Inside, look for the Store Pickup sign at the front of the store, or ask the Blue Shirt at the door to point you in the right direction
Who can pick up your order:
You can pick up your order yourself or choose someone else to pick it up. To have your order picked up by someone else, select that option during checkout. You’ll need to provide the pickup person’s name, email address and phone number. They’ll need to show their ID and the order number at the store.

Only you — or the person you’ve told us will pick up your order — can pick up your items.

To change the person picking up your order, go to your order details and select Make Changes. 

Ship to store:
Some items may not be immediately available for pickup at your local store, but can be shipped to your store from a People Mart warehouse for free. Ship-to-store items usually arrive at the store within 3 to 7 business days. We'll send you an email when your items are ready for pickup.

Ship-to-store option excludes music, DVDs, video games and other select items.

Warehouse pickup:
Some items, like TVs, refrigerators and other major appliances, may be available for pickup at one of our local warehouses. If this option is available, you’ll see it when you’re selecting a store. Warehouse locations have different days and hours of operation than our stores. Please check the warehouse location’s schedule by using the link in your Pickup Confirmation email or on the Order Details page.
Bring the same items you'd bring for pickup in a store:
Your government-issued photo ID matching the name on the order or the name of the authorized pickup person.
Your order number.
Any materials necessary to securely tie down your purchases for the drive home.
At the warehouse, look for the Order Pickup sign. Head inside and someone will be there to help.

Picking up cell phones and mobile devices:
If you’re picking up a cell phone, mobile device or mobile accessory at one of our big-box stores, pick up your order in the Store Pickup area.

We’ll pre-activate your device and provide simple instruction to complete activation. If you need help, we’ll guide you to the cell phone department for additional assistance.

For cell phones and devices with plans, the person named on the contract must be present for pickup.

Store Pickup and our Price Match Guarantee:
If your item is offered at a lower price in the store or at BestBuy.com when you pick it up, you may request a price match. Some exclusions apply.
Changing or canceling Store Pickup:
If necessary, you can change or cancel your Store Pickup order.

Time frames to keep in mind:

To switch from Shipping to Store Pickup, let us know within 30 minutes
To switch from Store Pickup to Shipping, let us know within 5 days
You can cancel a Store Pickup order anytime
We’ll hold items at the store for 5 days — if you don’t make it in by then, we’ll automatically cancel the order
If you can’t pick up your order within 5 days and you don’t want it to be canceled, check your order details for extended pickup options  
A few more things to know:
There’s no charge for Store Pickup
Products may be larger than expected due to their packaging; please keep this in mind when considering what vehicle you use to pick up your order
Allow extra time to pick up large items like TVs and appliances
If you used a new People Mart Credit Card to pay for your order, but haven’t yet received the card in the mail, just let the store associate know
Virtual and one-time-use credit cards cannot be used for Store Pickup
 

Pre-orders:
Pre-ordered items will be available for pickup on or after their release date.

</div>