p{
    color: red;
    font-size: smaller;
   
}
h1{

    color: blueviolet;
    font-family:cursive;


}
body{

background-image: url("https://angelofshiva.com/resources/assets/images/client%20login.png");
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

 


}


