body{
    background-image: url("https://wallpaperaccess.com/full/2132976.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}