<html>
    <head>
      <h1>Home Needs Working</h1>
    </head>
    <body>
    
        <div *ngFor="let toy of toys">
    
            <div class="col-lg-1"></div>
               <div class = "col-lg-3"> 
                  <div class="container">
                    <div class="card" style="width:300px">
                      <div class="card-header">
                           <div class="card-body">
                        <h4 class="card-title">Gadgets</h4>
                        <br><img src={{toy.productImage}} height="150" width="200" class="img-rounded"><br>
                        <strong>Productid:{{toy.productCategoryId}}</strong><br>
                        <strong>Productname:{{toy.productName}}</strong><br>
                        <strong>Product Description:{{toy.productDescription}}</strong><br>
                        <strong>Product CategoryTd:{{toy.productCategoryId}}</strong><br>
                            <strong>Product Price:{{toy.productPrice}}</strong><br>
                            <strong>Product Quantity:{{toy.productQuantity}}</strong><br>
                            <br>
                              <div class="col-lg-2">
                              <button class="btn btn-primary">Add to Cart</button>  </div>
                              <div class="col-lg-2"></div>
                              <div class="col-lg-2">
                           <a href="" target = "_blank" class="btn btn-primary">Buy Now</a></div>
                           
                      </div>
                    </div>
                    </div>
                    </div>
                  </div> 
    
    
                  </div>
    </body>
    </html> 
    